body {
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color:#006837;
    align-self: center;
    
}
div {
    width: 520px;
    height: auto;
    color: #446774;
    background-color: #F9C582;
    padding: 1rem;
    padding-top: 0.1rem;
}
div p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
div input {
    width: 480px;
    height: 64px;
    border: none;
    color: #F9C582;
    
}
section {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15vh;

}
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #F9C582;
    border: none;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    align-self: flex-end;
}

@media only screen and (max-width: 520px) {
    body {
        width: auto;
    }
    h1 {
      font-size: 24px;
    }
    section {
        width: auto;
    }
    div {
        width: auto;
    }
    div p {
        margin-left: 30px;
    }
    div input {
        width: calc(100vw - 40px);
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 10px;
    }
    button {
        position: absolute;
        margin-top: auto;
        bottom: 20px;
        right: 20px;
    }
  }
